/saves
/crash-reports
/defaultconfigs
/logs
options.txt
/recourcepacks
servers.dat
/shaderpacks
/xaero
/screenshots
usercache.json
usernamecache.json
/schematics
XaeroWaypoints_BACKUP*
rhino.local.properties
/local
/config/jei
/config/xaero*
/patchouli*



#Macos :)
.DS_Store
